<?xml version="1.0"?>
<!--
  ~ Copyright © Hampus Westman 2020
  ~ See LICENCE provided with this module for licence details
  ~
  ~ @author     Hampus Westman <hampus.westman@gmail.com>
  ~ @copyright  Copyright (c) 2020 Hampus Westman
  ~ @license    MIT License https://opensource.org/licenses/MIT
  ~ @link       https://github.com/Pr00xxy
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PrOOxxy_DotEnv" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
